html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
  background: url("./public/background_illustration.png") no-repeat center
    center fixed;
  background-size: cover;
}

body {
  font-family: "Kaisei HarunoUmi", serif;
  margin: 0px;
  padding: 0px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote-generator-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 40%);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.651);
  /* height: 30%; */
  /* width: 75%; */
  justify-content: center;
  align-items: center;
  padding: 0px 20px 20px 20px;
  max-width: 900px;
}

#quote-row {
  font-size: 26px;
}

#quote {
  color: #fff;
  font-size: 2.75rem;
}

#left-quotation,
#right-quotation {
  position: relative;
  top: 9px;
  font-size: 70px;
  font-weight: 700;
}

#author-row {
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 20px;
}

#button-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
